/**
 *  version:1.0
 *  creat by ALAN
 *  github:https://github.com/AnselRain
 */
/* swiper初始化css，详情请看官方文档 */
.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    background: #fff;
}

.container {
    width: 100%;
    height: auto;
}